{% load staticfiles %}

<div class="ad-slot-container" aria-hidden="true" style="height: 897px;">
    <div id="dfp-ad--right" class="js-ad-slot ad-slot ad-slot--right ad-slot--mpu-banner-ad js-sticky-mpu ad-slot--rendered" data-link-name="ad slot right" data-name="right" data-mobile="1,1|2,2|300,250|300,274|300,600|fluid" aria-hidden="true" style="width: 300px; height: 250px;" data-google-query-id="">
        <div class="ad-slot__label">Advertisement</div>
        <a href="http://nakasoft.com.ng" target="_blank">
            <div id="" class="ad-slot__content" style="border: 0pt none; width: 300px; height: 250px;">
                <img src="{% static 'img/adverts/ns_ad_mpu1.jpg' %}" style="border: 0pt none; width: 300px; height: 250px;">
            </div>
        </a>
    </div>
    <span class="bt-uid-tg" uid="" style="display: none !important"></span>
</div>