{% load staticfiles %}
<div  class="js-ad-slot ad-slot ad-slot--top-above-nav ad-slot--top-banner-ad ad-slot--top-banner-ad-desktop ad-slot--rendered" aria-hidden="true" style="width: 728px; height: 90px;">
    <div class="ad-slot__label"><small>Advertisement</small></div>
    <a href="http://nakasoft.com.ng" target="_blank" >
        <div class="ad-slot__content" style="border: 0pt none; width: 728px; height: 90px;">
            <img src="{% static 'img/adverts/ns_ad_banner2.jpg' %}" style="border: 0pt none; width: 728px; height: 90px;">
        </div>
    </a>
</div>