{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

 <header class="bg-light">
    <nav class="container hide-until-tablet">
          <div class="blog-header pt-1">
            <div class="row flex-nowrap justify-content-between align-items-center">
              <div class="col-xs-6 justify-content-between">
                  <a class="text-primary" href="https://facebook.com/telegraphng"><i class="fa fa-facebook"></i></a> &nbsp;
                  <a class="text-danger" href="https://instagram.com/telegraph_ng"><i class="fa fa-instagram"></i></a> &nbsp;
                  <a class="text-primary" href="https://twitter.com/telegraphng"><i class="fa fa-twitter"></i></a> &nbsp;
                  <!-- <a class="text-danger" href="#"><i class="fa fa-google-plus"></i></a>&nbsp; -->
                  <a class="text-danger" href="https://youtube.com/c/telegraphng"><i class="fa fa-youtube"></i></a> &nbsp;
                  <!-- <a href="emailto:contact@telegraph.ng"><i class="fa fa-envelope-o text-danger"></i></a>&nbsp; -->
              </div>
              <div class="col-xs-6 justify-content-between">
                <!-- <a class="text-muted small" href="#">Jobs</a> -->
                <!-- <a class="text-muted small" href="#">Login</a> -->
                <a class="text-muted small" href="#">Search <i class="fa fa-search"></i></a>
              </div>
            </div>
            <div class="row flex-nowrap justify-content-center align-items-center hide-until-tablet">
              <div class="col-md-3">
              </div>
              <div class="col-xs-12 col-md-6 text-center">
          <a class="navbar-brand" href="/"><img src="{% static '/img/logo.png' %}" style="max-width: 250px;"></a>
          <div class="fc-today">
            <span class="text-muted small">{{ today|date:"l, F d, o" }}</span>
          </div>
              </div>
              <div class="col-md-3">
              </div>
            </div>
          </div>
    </nav>       
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand hide-from-tablet" href="/"><img src="{% static '/img/logo.png' %}" style="max-width: 180px;"></a>
          <a class="text-muted hide-from-tablet" href="#"><i class="fa fa-search fa-1x"></i></a>
          <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
              <ul class="navbar-nav">
                <li class="nav-item pr-3 pl-3 {% if '/' == request.get_full_path %} active {% endif %}">
                  <a class="nav-link" href="/"><b>NEWS</b></a>
                </li>
                <li class="nav-item pr-3 pl-3 {% if '/world/' in request.get_full_path %} active {% endif %}">
                  <a class="nav-link" href="/world/"><b>WORLD</b></a>
                </li>
                <li class="nav-item pr-3 pl-3 {% if '/nigeria/' in request.get_full_path %} active {% endif %}">
                  <a class="nav-link" href="/nigeria/"><b>NIGERIA</b></a>
                </li>
                <li class="nav-item pr-3 pl-3 {% if '/politics/' in request.get_full_path %} active {% endif %}">
                  <a class="nav-link" href="/politics/"><b>POLITICS</b></a>
                </li>
                <li class="nav-item pr-3 pl-3 {% if '/opinion/' in request.get_full_path %} active {% endif %}">
                  <a class="nav-link " href="/opinion/"><b>OPINION</b></a>
                </li>
                <li class="nav-item pr-3 pl-3 {% if '/sport/' in request.get_full_path %} active {% endif %}">
                  <a class="nav-link " href="/sport/"><b>SPORT</b></a>
                </li>
                <li class="nav-item pr-3 pl-3 {% if '/business/' in request.get_full_path %} active {% endif %}">
                  <a class="nav-link " href="/business/"><b>BUSINESS</b></a>
                </li>
                <li class="nav-item pr-3 pl-3 {% if '/entertainment/' in request.get_full_path %} active {% endif %}">
                  <a class="nav-link " href="/entertainment/"><b>ENTERTAINMENT</b></a>
                </li>
                <!-- <li class="nav-item pr-3 pl-3">
                  <a class="nav-link" href="/jobs/"><b>JOBS</b></a>
                </li> -->
                <!-- <li class="nav-item pr-3 pl-3 dropdown hide-from-tablet">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>More</b></a>
                  <div class="dropdown-menu" aria-labelledby="dropdown10">
                    <a class="dropdown-item small" href="#">Subscribe</a> 
                    <a class="dropdown-item small" href="#">Jobs</a>
                    <a class="dropdown-item small" href="#">Login</a>
                  </div>
                </li> -->
            </ul>
          </div>
      </div>
    </nav>
  </header>