{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

    <section id="sport" class="fc-container fc-container--has-show-more fc-container--has-toggle">
        <div class="fc-container__inner">
            <div class="fc-container__header js-container__header">
                <div class="fc-container__header__title">
                    <a data-link-name="section heading" href="https://www.telegraph.ng/uk/sport"> <span class="fc-container__title__text">Sport</span> </a>
                </div>
        <div class="weather js-weather hide-until-desktop">
          <a href="http://www.nakasoft.com.ng/" target="blank">
            <img src="{% static '/img/ns_banner2.png' %}" alt="Ad." style="max-width: 215px !important;">
          </a>
        </div>
                <button class="fc-container__toggle" data-link-name="Show">
                    <span class="fc-container__toggle__text">Hide</span>
                </button>
            </div>
            <ul class="treats__container">
                <li class="treats__list-item"> 
                    <a href="https://www.telegraph.ng/sport/2017/may/15/the-recap-sign-up-for-the-best-of-the-telegraphs-sport-coverage" data-link-name="treat | 1 | The Recap sports email - sign up" class="treats__treat">The Recap sports email - sign up</a> 
                </li>
            </ul>
            <div class="fc-container--rolled-up-hide fc-container__body fc-show-more--hidden" data-title="Sport" data-id="da673281-d002-4406-9c75-d0bbdecc124f">
                <div class="fc-slice-wrapper">
                    <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--qqq-q">
                        <li class="fc-slice__item l-row__item l-row__item--span-3 u-faux-block-link">
                            <div class="fc-item fc-item--has-image fc-item--has-sublinks-3 fc-item--live fc-item--pillar-sport fc-item--type-live js-fc-item fc-item--standard-mobile fc-item--three-quarters-tablet js-snappable" data-link-name="live | group-2+ | card-@1" data-item-visibility="all" data-test-id="facia-card" data-id="sport/live/2018/aug/11/us-pga-championship-2018-day-three-second-third-round-live" data-loyalty-short-url="/p/969c4">
                                <div class="fc-item__container">
                                    <div class="fc-item__media-wrapper">
                                        <div class="fc-item__image-container u-responsive-ratio ">
                                            <picture>
                                            <img class="responsive-img" alt="" src="{% static '/i/5389.jpg">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class="fc-item__content ">
                                        <div class="fc-item__header">
                                            <h2 class="fc-item__title"><a href="https://www.telegraph.ng/sport/live/2018/aug/11/us-pga-championship-2018-day-three-second-third-round-live" class="fc-item__link" data-link-name="article"><span class="fc-item__kicker fc-item__kicker--breaking-news"><span class="live-pulse-icon flashing-image"></span>Live</span> <span class="u-faux-block-link__cta fc-item__headline"> <span class="js-headline-text">US PGA Championship – day three</span></span> </a></h2>
                                        </div>
                                        <div class="fc-item__standfirst-wrapper">
                                            <div class="fc-item__standfirst">
                                            Get all the latest from day three at Bellerive with Scott Murray’s rolling report
                                            </div>
                                            <aside class="fc-item__meta js-item__meta">
                                            </aside>
                                        </div>
                                        <div class="fc-item__footer--vertical" aria-hidden="true">
                                            <ul class="fc-sublinks u-unstyled u-faux-block-link__promote">
                                                <li class="fc-sublink fc-sublink--pillar-sport fc-sublink--type-feature" data-link-name="sublinks | 1"> 
                                                    <h3 class="fc-sublink__title"> <a href="https://www.telegraph.ng/sport/2018/aug/11/tiger-woods-phil-mickelson-match" class="fc-sublink__link" data-link-name="article"><span class="fc-sublink__kicker">Woods v Mickelson</span> $10m showdown would be in poor taste</a> </h3> 
                                                </li>
                                                <li class="fc-sublink fc-sublink--pillar-sport fc-sublink--type-article" data-link-name="sublinks | 2"> 
                                                    <h3 class="fc-sublink__title"> <a href="https://www.telegraph.ng/sport/2018/aug/10/gary-woodland-us-pga-second-round" class="fc-sublink__link" data-link-name="article"><span class="fc-sublink__kicker">PGA Championship</span> Woodland leads charge as storms halt play</a> </h3> 
                                                </li>
                                                <li class="fc-sublink fc-sublink--pillar-news fc-sublink--type-article" data-link-name="sublinks | 3"> 
                                                    <h3 class="fc-sublink__title"> <a href="https://www.telegraph.ng/sport/all" class="fc-sublink__link" data-link-name="article"><span class="fc-sublink__kicker">Breaking news</span> Keep up-to-date with latest sport stories</a> </h3> 
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <footer class="fc-item__footer--horizontal">
                                        <ul class="fc-sublinks u-unstyled u-faux-block-link__promote">
                                            <li class="fc-sublink fc-sublink--pillar-sport fc-sublink--type-feature" data-link-name="sublinks | 1"> 
                                                <h3 class="fc-sublink__title"> <a href="https://www.telegraph.ng/sport/2018/aug/11/tiger-woods-phil-mickelson-match" class="fc-sublink__link" data-link-name="article"><span class="fc-sublink__kicker">Woods v Mickelson</span> $10m showdown would be in poor taste</a> </h3> 
                                            </li>
                                            <li class="fc-sublink fc-sublink--pillar-sport fc-sublink--type-article" data-link-name="sublinks | 2"> 
                                                <h3 class="fc-sublink__title"> <a href="https://www.telegraph.ng/sport/2018/aug/10/gary-woodland-us-pga-second-round" class="fc-sublink__link" data-link-name="article"><span class="fc-sublink__kicker">PGA Championship</span> Woodland leads charge as storms halt play</a> </h3> 
                                            </li>
                                            <li class="fc-sublink fc-sublink--pillar-news fc-sublink--type-article" data-link-name="sublinks | 3"> 
                                                <h3 class="fc-sublink__title"> <a href="https://www.telegraph.ng/sport/all" class="fc-sublink__link" data-link-name="article"><span class="fc-sublink__kicker">Breaking news</span> Keep up-to-date with latest sport stories</a> </h3> 
                                            </li>
                                        </ul>
                                    </footer>
                                    <a href="https://www.telegraph.ng/sport/live/2018/aug/11/us-pga-championship-2018-day-three-second-third-round-live" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1" aria-hidden="true">US PGA Championship – day three</a>
                                </div>
                            </div> 
                        </li>
                        <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                            <div class="fc-item fc-item--has-image fc-item--has-sublinks-1 fc-item--live fc-item--pillar-sport fc-item--type-live js-fc-item fc-item--list-media-mobile fc-item--standard-tablet js-snappable" data-link-name="live | group-2 | card-@2" data-item-visibility="all" data-test-id="facia-card" data-id="sport/live/2018/aug/11/england-v-india-second-test-day-three-live" data-loyalty-short-url="/p/967ey">
                                <div class="fc-item__container">
                                    <div class="fc-item__media-wrapper">
                                        <div class="fc-item__image-container u-responsive-ratio ">
                                            <picture>
                                            <img class="responsive-img" alt="" src="{% static '/i/3289.jpg">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class="fc-item__content ">
                                        <div class="fc-item__header">
                                            <h2 class="fc-item__title"><a href="https://www.telegraph.ng/sport/live/2018/aug/11/england-v-india-second-test-day-three-live" class="fc-item__link" data-link-name="article"><span class="fc-item__kicker fc-item__kicker--breaking-news"><span class="live-pulse-icon flashing-image"></span>Live</span> <span class="u-faux-block-link__cta fc-item__headline"> <span class="js-headline-text">England v India: second Test – day three</span></span> </a></h2>
                                        </div>
                                        <div class="fc-item__standfirst-wrapper">
                                            <div class="fc-item__standfirst">
                                                <strong>Over-by-over report:</strong> How will India respond after a miserable day with the bat on day two? Join Adam Collins to find out
                                            </div>
                                            <aside class="fc-item__meta js-item__meta">
                                            </aside>
                                        </div>
                                        <div class="fc-item__footer--vertical" aria-hidden="true">
                                            <ul class="fc-sublinks u-unstyled u-faux-block-link__promote">
                                                <li class="fc-sublink fc-sublink--pillar-news fc-sublink--type-article" data-link-name="sublinks | 1"> 
                                                    <h3 class="fc-sublink__title"> <a href="https://www.telegraph.ng/sport/cricket/match/2018-08-11/england-cricket-team" class="fc-sublink__link" data-link-name="article"><span class="fc-sublink__kicker">Scorecard</span> All the facts and figures from Lord's</a> </h3> 
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <footer class="fc-item__footer--horizontal">
                                        <ul class="fc-sublinks u-unstyled u-faux-block-link__promote">
                                            <li class="fc-sublink fc-sublink--pillar-news fc-sublink--type-article" data-link-name="sublinks | 1"> 
                                                <h3 class="fc-sublink__title"> <a href="https://www.telegraph.ng/sport/cricket/match/2018-08-11/england-cricket-team" class="fc-sublink__link" data-link-name="article"><span class="fc-sublink__kicker">Scorecard</span> All the facts and figures from Lord's</a> </h3> 
                                            </li>
                                        </ul>
                                    </footer>
                                    <a href="https://www.telegraph.ng/sport/live/2018/aug/11/england-v-india-second-test-day-three-live" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1" aria-hidden="true">England v India: second Test – day three</a>
                                </div>
                            </div> 
                        </li>
                    </ul>
                </div>
                <div class="fc-slice-wrapper">
                    <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--h14-q-q">
                        <li class="fc-slice__item l-row__item l-row__item--span-2">
                            <ul class="u-unstyled l-list l-list--columns-2 l-list--rows-1">
                                <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                    <div class="fc-item fc-item--has-image fc-item--has-sublinks-1 fc-item--live fc-item--pillar-sport fc-item--type-live js-fc-item fc-item--list-media-mobile fc-item--standard-tablet js-snappable" data-link-name="live | group-1 | card-@3" data-item-visibility="all" data-test-id="facia-card" data-id="football/live/2018/aug/11/wolves-v-everton-premier-league-live" data-loyalty-short-url="/p/965kc">
                                        <div class="fc-item__container">
                                            <div class="fc-item__media-wrapper">
                                                <div class="fc-item__image-container u-responsive-ratio ">
                                                    <picture>
                                                    <img class="responsive-img" alt="" src="{% static '/i/1724.jpg">
                                                    </picture>
                                                </div>
                                            </div>
                                            <div class="fc-item__content ">
                                                <div class="fc-item__header">
                                                    <h2 class="fc-item__title"><a href="https://www.telegraph.ng/football/live/2018/aug/11/wolves-v-everton-premier-league-live" class="fc-item__link" data-link-name="article"><span class="fc-item__kicker fc-item__kicker--breaking-news"><span class="live-pulse-icon flashing-image"></span>Live</span> <span class="u-faux-block-link__cta fc-item__headline"> <span class="js-headline-text">Wolves v Everton – Premier League</span></span> </a></h2>
                                                </div>
                                                <div class="fc-item__standfirst-wrapper">
                                                    <div class="fc-item__standfirst">
                                                        Who will come out on top when free-spending Premier League newcomers Wolves take on a new-look Everton? Find out with Rob Smyth
                                                    </div>
                                                    <aside class="fc-item__meta js-item__meta">
                                                    </aside>
                                                </div>
                                                <div class="fc-item__footer--vertical" aria-hidden="true">
                                                    <ul class="fc-sublinks u-unstyled u-faux-block-link__promote">
                                                        <li class="fc-sublink fc-sublink--pillar-news fc-sublink--type-article" data-link-name="sublinks | 1"> 
                                                            <h3 class="fc-sublink__title"> <a href="https://www.telegraph.ng/football/live" class="fc-sublink__link" data-link-name="article"><span class="fc-sublink__kicker">Live scores</span> All the goals from around Europe</a> </h3> 
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <footer class="fc-item__footer--horizontal">
                                                <ul class="fc-sublinks u-unstyled u-faux-block-link__promote">
                                                    <li class="fc-sublink fc-sublink--pillar-news fc-sublink--type-article" data-link-name="sublinks | 1">
                                                        <h3 class="fc-sublink__title"> <a href="https://www.telegraph.ng/football/live" class="fc-sublink__link" data-link-name="article"><span class="fc-sublink__kicker">Live scores</span> All the goals from around Europe</a> </h3> 
                                                    </li>
                                                </ul>
                                            </footer>
                                            <a href="https://www.telegraph.ng/football/live/2018/aug/11/wolves-v-everton-premier-league-live" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1" aria-hidden="true">Wolves v Everton – Premier League</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                    <div class="fc-item fc-item--has-image fc-item--has-sublinks-1 fc-item--is-media-link fc-item--pillar-sport fc-item--type-media fc-item--video js-fc-item fc-item--list-media-mobile fc-item--standard-tablet js-snappable" data-link-name="media | group-1 | card-@4" data-item-visibility="all" data-test-id="facia-card" data-id="football/video/2018/aug/11/andres-iniesta-opens-j-league-account-in-style-video" data-loyalty-short-url="/p/96aa6">
                                        <div class="fc-item__container">
                                            <div class="fc-item__media-wrapper">
                                                <div class="fc-item__video-container">
                                                    <div data-media-atom-id="235752ae-d4c4-4e2c-a39c-3bdd1df7ba12" class="no-player u-responsive-ratio youtube-media-atom">
                                                        <div class="vjs-big-play-button youtube-media-atom__overlay" style="background-image: url(https://i.guim.co.uk/img/media/eef9180a8a7861dd78908986ff6e6bfd68662662/0_87_2060_1158/2060.jpg?w=700&amp;h=394&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=b1f32d443cf135ac6941d474cb61ea05)">
                                                            <div class="youtube-media-atom__play-button vjs-control-text">
                                                                Play Video
                                                                <span class="inline-play inline-icon ">
                                                                    <svg width="46" height="39" viewBox="0 0 46 39" class="inline-play__svg inline-icon__svg">
                                                                    <path d="M46 20.58v-2.02L1.64 0 0 1.3v36.55L1.64 39 46 20.58z"></path>
                                                                    </svg> 
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fc-item__content ">
                                                <div class="fc-item__header">
                                                    <h2 class="fc-item__title"><a href="https://www.telegraph.ng/football/video/2018/aug/11/andres-iniesta-opens-j-league-account-in-style-video" class="fc-item__link" data-link-name="article"><span class="fc-item__kicker">Vissel Kobe</span> <span class="u-faux-block-link__cta fc-item__headline"> <span class="js-headline-text">Iniesta opens J-League account in style</span></span> </a></h2>
                                                </div>
                                                <div class="fc-item__standfirst">
                                                    <p>Andrés Iniesta turned on the style to score his first goal for Vissel Kobe since moving to Japan from Barcelona</p>
                                                </div>
                                                <div class="fc-item__footer-meta-wrapper">
                                                    <div class="fc-item__meta-wrapper">
                                                        <div class="fc-item__media-meta">
                                                            <span class="inline-video-icon inline-icon ">
                                                            <svg width="36" height="23" viewBox="0 0 36 23" class="inline-video-icon__svg inline-icon__svg">
                                                            <path d="M3.2 0L0 3.3v16.4L3.3 23H22V0H3.2m30.4 1L25 9v5l8.6 8H36V1h-2.4"></path>
                                                            </svg> </span>
                                                            <span class="fc-item__video-duration">0:34</span>
                                                        </div>
                                                        <aside class="fc-item__meta js-item__meta">
                                                        </aside>
                                                    </div>
                                                    <div class="fc-item__footer--vertical" aria-hidden="true">
                                                        <ul class="fc-sublinks u-unstyled u-faux-block-link__promote">
                                                            <li class="fc-sublink fc-sublink--pillar-sport fc-sublink--type-quiz" data-link-name="sublinks | 1"> <h3 class="fc-sublink__title"> <a href="https://www.telegraph.ng/sport/2018/aug/11/sports-quiz-week-premier-league-transfers-virat-kohli" class="fc-sublink__link" data-link-name="article"><span class="fc-sublink__kicker">Quiz of the week</span> Premier League, transfers and Virat Kohli</a> </h3> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <footer class="fc-item__footer--horizontal">
                                                <ul class="fc-sublinks u-unstyled u-faux-block-link__promote">
                                                    <li class="fc-sublink fc-sublink--pillar-sport fc-sublink--type-quiz" data-link-name="sublinks | 1"> <h3 class="fc-sublink__title"> <a href="https://www.telegraph.ng/sport/2018/aug/11/sports-quiz-week-premier-league-transfers-virat-kohli" class="fc-sublink__link" data-link-name="article"><span class="fc-sublink__kicker">Quiz of the week</span> Premier League, transfers and Virat Kohli</a> </h3> </li>
                                                </ul>
                                            </footer>
                                            <a href="https://www.telegraph.ng/football/video/2018/aug/11/andres-iniesta-opens-j-league-account-in-style-video" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1" aria-hidden="true">Iniesta opens J-League account in style</a>
                                        </div>
                                    </div>
                                </li>
                            </ul> 
                        </li>
                        <li class="fc-slice__item l-row__item l-row__item--span-2">
                            <ul class="u-unstyled l-list l-list--columns-1 l-list--rows-4">
                                <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                    <div class="fc-item fc-item--has-image fc-item--has-metadata fc-item--is-commentable fc-item--pillar-sport fc-item--type-matchreport js-fc-item fc-item--list-mobile fc-item--list-media-tablet js-snappable" data-discussion-closed="false" data-discussion-url="https://www.telegraph.ng/football/2018/aug/11/huddersfield-chelsea-premier-league-match-report#comments" data-link-name="news | group-0 | card-@5" data-item-visibility="all" data-test-id="facia-card" data-id="football/2018/aug/11/huddersfield-chelsea-premier-league-match-report" data-loyalty-short-url="/p/96ada">
                                        <div class="fc-item__container">
                                            <div class="fc-item__media-wrapper">
                                                <div class="fc-item__image-container u-responsive-ratio ">
                                                    <picture>
                                                    <img class="responsive-img" alt="" src="{% static '/i/1952.jpg">
                                                    </picture>
                                                </div>
                                            </div>
                                            <div class="fc-item__content ">
                                                <div class="fc-item__header">
                                                    <h2 class="fc-item__title"><a href="https://www.telegraph.ng/football/2018/aug/11/huddersfield-chelsea-premier-league-match-report" class="fc-item__link" data-link-name="article"><span class="fc-item__kicker">Huddersfield 0-3 Chelsea</span> <span class="u-faux-block-link__cta fc-item__headline"> <span class="js-headline-text">Kanté strike sparks victory for Sarri's side</span></span> </a></h2>
                                                </div>
                                                <div class="fc-item__standfirst-wrapper">
                                                    <aside class="fc-item__meta js-item__meta">
                                                    <a class="fc-trail__count fc-trail__count--commentcount" href="https://www.telegraph.ng/football/2018/aug/11/huddersfield-chelsea-premier-league-match-report#comments" data-link-name="Comment count" aria-label="114 comments"><span class="inline-tone-fill inline-comment-16 inline-icon"><svg width="16" height="16" viewBox="0 0 16 16"><path d="M13 0l1 1v7l-1 1h-6l-2 3h-1v-3h-2l-1-1v-7l1-1h11z"></path></svg></span> 114</a></aside>
                                                </div>
                                            </div>
                                            <a href="https://www.telegraph.ng/football/2018/aug/11/huddersfield-chelsea-premier-league-match-report" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1" aria-hidden="true">Kanté strike sparks victory for Sarri's side</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                    <div class="fc-item fc-item--has-image fc-item--pillar-sport fc-item--type-article js-fc-item fc-item--list-mobile fc-item--list-media-tablet js-snappable" data-link-name="news | group-0 | card-@6" data-item-visibility="all" data-test-id="facia-card" data-id="sport/blog/2018/aug/11/nfl-protests-trump-top-target" data-loyalty-short-url="/p/967t2">
                                        <div class="fc-item__container">
                                            <div class="fc-item__media-wrapper">
                                                <div class="fc-item__image-container u-responsive-ratio ">
                                                    <picture>
                                                    <img class="responsive-img" alt="" src="{% static '/i/3874.jpg">
                                                    </picture>
                                                </div>
                                            </div>
                                            <div class="fc-item__content ">
                                                <div class="fc-item__header">
                                                    <h2 class="fc-item__title fc-item__title--quoted">
                                                        <a href="https://www.telegraph.ng/sport/blog/2018/aug/11/nfl-protests-trump-top-target" class="fc-item__link" data-link-name="article"> <span class="u-faux-block-link__cta fc-item__headline"> <span class="inline-garnett-quote inline-icon ">
                                                        <svg width="70" height="49" viewBox="0 0 35 25" class="inline-garnett-quote__svg inline-icon__svg">
                                                        <path d="M69.587.9c-1.842 15.556-3.89 31.316-4.708 48.1H37.043c3.07-16.784 8.391-32.544 17.602-48.1h14.942zM32.949.9c-2.047 15.556-4.094 31.316-4.912 48.1H.2C3.066 32.216 8.592 16.456 17.598.9h15.35z"></path>
                                                        </svg> </span> <span class="js-headline-text">How the NFL bumbled its way into becoming Trump's most reliable target</span></span> </a>
                                                    </h2>
                                                    <div class="fc-item__byline">
                                                        Hunter Felt
                                                    </div>
                                                </div>
                                                <div class="fc-item__standfirst-wrapper">
                                                    <aside class="fc-item__meta js-item__meta">
                                                    </aside>
                                                </div>
                                            </div>
                                            <a href="https://www.telegraph.ng/sport/blog/2018/aug/11/nfl-protests-trump-top-target" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1" aria-hidden="true">How the NFL bumbled its way into becoming Trump's most reliable target</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                    <div class="fc-item fc-item--has-image fc-item--has-metadata fc-item--is-commentable fc-item--pillar-sport fc-item--type-feature js-fc-item fc-item--list-mobile fc-item--list-media-tablet js-snappable" data-discussion-closed="false" data-discussion-url="https://www.telegraph.ng/sport/2018/aug/11/toronto-wolfpack-super-league-qualifiers#comments" data-link-name="feature | group-0 | card-@7" data-item-visibility="all" data-test-id="facia-card" data-id="sport/2018/aug/11/toronto-wolfpack-super-league-qualifiers" data-loyalty-short-url="/p/966qy">
                                        <div class="fc-item__container">
                                            <div class="fc-item__media-wrapper">
                                                <div class="fc-item__image-container u-responsive-ratio ">
                                                    <picture>
                                                    <img class="responsive-img" alt="" src="{% static '/i/5656.jpg">
                                                    </picture>
                                                </div>
                                            </div>
                                            <div class="fc-item__content ">
                                                <div class="fc-item__header">
                                                    <h2 class="fc-item__title fc-item__title--quoted">
                                                        <a href="https://www.telegraph.ng/sport/2018/aug/11/toronto-wolfpack-super-league-qualifiers" class="fc-item__link" data-link-name="article"> <span class="u-faux-block-link__cta fc-item__headline"> <span class="inline-garnett-quote inline-icon ">
                                                        <svg width="70" height="49" viewBox="0 0 35 25" class="inline-garnett-quote__svg inline-icon__svg">
                                                        <path d="M69.587.9c-1.842 15.556-3.89 31.316-4.708 48.1H37.043c3.07-16.784 8.391-32.544 17.602-48.1h14.942zM32.949.9c-2.047 15.556-4.094 31.316-4.912 48.1H.2C3.066 32.216 8.592 16.456 17.598.9h15.35z"></path>
                                                        </svg> </span> <span class="js-headline-text">Toronto Wolfpack ready to sink their teeth into chance to create history</span></span> </a>
                                                    </h2>
                                                    <div class="fc-item__byline">
                                                    Aaron Bower
                                                    </div>
                                                </div>
                                                <div class="fc-item__standfirst-wrapper">
                                                    <aside class="fc-item__meta js-item__meta">
                                                    <a class="fc-trail__count fc-trail__count--commentcount" href="https://www.telegraph.ng/sport/2018/aug/11/toronto-wolfpack-super-league-qualifiers#comments" data-link-name="Comment count" aria-label="29 comments"><span class="inline-tone-fill inline-comment-16 inline-icon"><svg width="16" height="16" viewBox="0 0 16 16"><path d="M13 0l1 1v7l-1 1h-6l-2 3h-1v-3h-2l-1-1v-7l1-1h11z"></path></svg></span> 29</a></aside>
                                                </div>
                                            </div>
                                            <a href="https://www.telegraph.ng/sport/2018/aug/11/toronto-wolfpack-super-league-qualifiers" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1" aria-hidden="true">Toronto Wolfpack ready to sink their teeth into chance to create history</a>
                                        </div>
                                    </div> 
                                </li>
                                <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                    <div class="fc-item fc-item--has-image fc-item--has-metadata fc-item--is-commentable fc-item--pillar-sport fc-item--type-matchreport js-fc-item fc-item--list-mobile fc-item--list-media-tablet js-snappable" data-discussion-closed="false" data-discussion-url="https://www.telegraph.ng/football/2018/aug/11/newcastle-tottenham-premier-league-match-report#comments" data-link-name="news | group-0 | card-@8" data-item-visibility="all" data-test-id="facia-card" data-id="football/2018/aug/11/newcastle-tottenham-premier-league-match-report" data-loyalty-short-url="/p/969qa">
                                        <div class="fc-item__container">
                                            <div class="fc-item__media-wrapper">
                                                <div class="fc-item__image-container u-responsive-ratio ">
                                                    <picture>
                                                    <img class="responsive-img" alt="" src="{% static '/i/2132.jpg">
                                                    </picture>
                                                </div>
                                            </div>
                                            <div class="fc-item__content ">
                                                <div class="fc-item__header">
                                                    <h2 class="fc-item__title">
                                                        <a href="https://www.telegraph.ng/football/2018/aug/11/newcastle-tottenham-premier-league-match-report" class="fc-item__link" data-link-name="article"><span class="fc-item__kicker">Newcastle 1-2 Tottenham</span> <span class="u-faux-block-link__cta fc-item__headline"> <span class="js-headline-text">Alli gives Spurs winning start</span></span> </a>
                                                    </h2>
                                                </div>
                                                <div class="fc-item__standfirst-wrapper">
                                                    <aside class="fc-item__meta js-item__meta">
                                                        <a class="fc-trail__count fc-trail__count--commentcount" href="https://www.telegraph.ng/football/2018/aug/11/newcastle-tottenham-premier-league-match-report#comments" data-link-name="Comment count" aria-label="321 comments"><span class="inline-tone-fill inline-comment-16 inline-icon"><svg width="16" height="16" viewBox="0 0 16 16"><path d="M13 0l1 1v7l-1 1h-6l-2 3h-1v-3h-2l-1-1v-7l1-1h11z"></path></svg></span> 321</a>
                                                    </aside>
                                                </div>
                                            </div>
                                            <a href="https://www.telegraph.ng/football/2018/aug/11/newcastle-tottenham-premier-league-match-report" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1" aria-hidden="true">Alli gives Spurs winning start</a>
                                        </div>
                                    </div> 
                                </li>
                            </ul> 
                        </li>
                    </ul>
                </div>
                <div class="js-show-more-placeholder">
                    
                </div>
                <button class="button button--medium button--primary button--show-more collection__show-more js-show-more-button modern-visible" data-test-id="show-more" data-link-name="more"> <span class="inline-plus inline-icon ">
                    <svg width="18" height="18" viewBox="0 0 18 18" class="inline-plus__svg inline-icon__svg">
                    <path d="M8.2 0h1.6l.4 7.8 7.8.4v1.6l-7.8.4-.4 7.8H8.2l-.4-7.8L0 9.8V8.2l7.8-.4.4-7.8z"></path>
                    </svg> </span> <span class="inline-minus inline-icon ">
                    <svg width="32" height="32" viewBox="0 0 32 32" class="inline-minus__svg inline-icon__svg">
                    <path d="M5 15h22v3H5z"></path>
                    </svg> </span> <span class="js-button-text">More Sport</span> 
                </button>
            </div>
        </div>
    </section>