{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

<!-- transfer -->
    <section id="transfer" class="fc-container fc-container--has-show-more fc-container--has-toggle" aria-expanded="true">
      <div class="fc-container__inner">
        <div class="fc-container__header js-container__header">
          <div class="fc-container__header__title">
            <span tabindex="0">Transfer</span>
          </div>
        </div>
        <div class="fc-container--rolled-up-hide fc-container__body fc-show-more--hidden">
          <div class="fc-slice-wrapper">
            <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--q-q-ql-ql">
              {% for obj in sport_transfer_list|slice:'0:2' %}
              <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                <div class="fc-item fc-item--has-image fc-item--pillar-sport fc-item--type-matchreport js-fc-item fc-item--list-media-mobile fc-item--standard-tablet js-snappable">
                  <div class="fc-item__container">
                    <div class="fc-item__media-wrapper">
                      <div class="fc-item__image-container u-responsive-ratio ">
                        <picture>
                          <img class="responsive-img" alt="" src="{{obj.get_image_url}}">
                        </picture>
                      </div>
                    </div>
                    <div class="fc-item__content ">
                      <div class="fc-item__header">
                        <h2 class="fc-item__title">
                          <a href="{{obj.get_absolute_url}}" class="fc-item__link" data-link-name="article">{% if obj.caption %}<span class="fc-item__kicker">{{ obj.caption }}</span>{% endif %} <span class="u-faux-block-link__cta fc-item__headline"> <span class="js-headline-text">{{obj.title}}</span></span> </a>
                        </h2>
                      </div>
                      <div class="fc-item__standfirst-wrapper">
                        <div class="fc-item__standfirst">
                          {{ obj.content|truncatewords_html:20 }}
                        </div>
                        <aside class="fc-item__meta js-item__meta">
                        </aside>
                      </div>
                    </div>
                    <a href="{{obj.get_absolute_url}}" class="u-faux-block-link__overlay js-headline-text" aria-hidden="true">{{obj.title}}</a>
                  </div>
                </div>
              </li>
              {% endfor %}
              <li class="fc-slice__item l-row__item l-row__item--span-2">
                <ul class="u-unstyled l-list l-list--columns-2 l-list--rows-3">
                  {% for obj in sport_transfer_list|slice:'2:6' %}
                  <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                    <div class="fc-item fc-item--has-image fc-item--pillar-sport fc-item--type-matchreport js-fc-item fc-item--list-mobile fc-item--list-tablet js-snappable">
                      <div class="fc-item__container">
                        <div class="fc-item__content ">
                          <div class="fc-item__header">
                            <h2 class="fc-item__title">
                              <a href="{{obj.get_absolute_url}}" class="fc-item__link">{% if obj.caption %}<span class="fc-item__kicker">{{ obj.caption }}</span>{% endif %} <span class="u-faux-block-link__cta fc-item__headline"> <span class="js-headline-text">{{obj.title}}</span></span> </a>
                            </h2>
                          </div>
                          <div class="fc-item__standfirst-wrapper">
                            <aside class="fc-item__meta js-item__meta">
                            </aside>
                          </div>
                        </div>
                        <a href="{{obj.get_absolute_url}}" class="u-faux-block-link__overlay js-headline-text" aria-hidden="true">{{obj.title}}</a>
                      </div>
                    </div> 
                  </li>
                  {% endfor %}                  
                  {% for obj in sport_transfer_list|slice:'6:8' %}
                  <li class="fc-show-more--hide-on-mobile js-hide-on-mobile fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                    <div class="fc-item fc-item--has-image fc-item--has-metadata fc-item--is-commentable fc-item--pillar-sport fc-item--type-matchreport js-fc-item fc-item--list-mobile fc-item--list-tablet js-snappable">
                      <div class="fc-item__container">
                        <div class="fc-item__content ">
                          <div class="fc-item__header">
                            <h2 class="fc-item__title">
                              <a href="{{obj.get_absolute_url}}" class="fc-item__link">{% if obj.caption %}<span class="fc-item__kicker">{{ obj.caption }}</span>{% endif %} <span class="u-faux-block-link__cta fc-item__headline"> <span class="js-headline-text">{{obj.title}}</span></span> </a>
                            </h2>
                          </div>
                          <div class="fc-item__standfirst-wrapper">
                            <aside class="fc-item__meta js-item__meta">
                              <a class="fc-trail__count fc-trail__count--commentcount" href="{{obj.get_absolute_url}}#comments" data-link-name="Comment count" aria-label="465 comments">{% if obj.comments.count > 0 %}<span class="inline-tone-fill inline-comment-16 inline-icon"><svg width="16" height="16" viewBox="0 0 16 16"><path d="M13 0l1 1v7l-1 1h-6l-2 3h-1v-3h-2l-1-1v-7l1-1h11z"></path></svg></span> {{obj.comments.count}}{% endif %}</a>
                            </aside>
                          </div>
                        </div>
                        <a href="{{obj.get_absolute_url}}" class="u-faux-block-link__overlay js-headline-text" aria-hidden="true">{{obj.title}}</a>
                      </div>
                    </div> 
                  </li>
                  {% endfor %}
                </ul> 
              </li>
            </ul>
          </div>
          <div class="js-show-more-placeholder"></div>
          <!-- <button class="button button--medium button--primary button--show-more collection__show-more js-show-more-button modern-visible" data-test-id="show-more" data-link-name="more"> <span class="inline-plus inline-icon ">
          <svg width="18" height="18" viewBox="0 0 18 18" class="inline-plus__svg inline-icon__svg">
          <path d="M8.2 0h1.6l.4 7.8 7.8.4v1.6l-7.8.4-.4 7.8H8.2l-.4-7.8L0 9.8V8.2l7.8-.4.4-7.8z"></path>
          </svg> </span> <span class="inline-minus inline-icon ">
          <svg width="32" height="32" viewBox="0 0 32 32" class="inline-minus__svg inline-icon__svg">
          <path d="M5 15h22v3H5z"></path>
          </svg> </span> <span class="js-button-text">More Transfer</span> </button> -->
        </div>
      </div>
    </section><br><br>
