{% extends "admin/base.html" %}

{% block title %}{{ title }} | The Telegraph {% endblock %}
{% block extrastyle %}
<style type="text/css">/*#00B2FF*/
#header {
	background-color: #0091d0; 
	color: #fff;
}
/*.module h2, .module caption, .inline-group h2 {
    background: #0091d0;
}*/
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}
/*div.breadcrumbs {
    background: #027fb5;
    color: #fff;
}
a:link, a:visited {
    color: #ddd;
}
.button.default, input[type=submit].default, .submit-row input.default {
    background: #0091d0;
}
#header a:link, #header a:visited {
    color: #eee;
}*/
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Telegraph Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
 