{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %} {{ block.super }} - {% trans "Change Password" %} {% endblock %}

{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-sm-offset-3">
        <div class="left_content">
          <div class="error_page"><br><br>
            
                <h3>{% trans "Change Password" %}</h3>
               <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
			        {% csrf_token %}
			        {{ form|crispy }}
			        <button type="submit" class="btn btn-danger" name="action">{% trans "Change Password" %}</button>
			    </form>
              <br><br><br><br>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


