{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %} {{ block.super }} - {% trans "Sign Up" %}{% endblock %}

{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-sm-offset-3">
        <div class="left_content">
          <div class="error_page"><br><br>

			<h3>{% trans "Sign Up" %}</h3>

			<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="text-danger"><u><b>sign in</b></u></a>.{% endblocktrans %}</p>

			<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
			  {% csrf_token %}
			  {{ form|crispy }}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <button type="submit" class="btn btn-danger">{% trans "Sign Up" %} &raquo;</button>
			</form>


              <br><br><br><br>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
