/* stylelint-disable selector-list-comma-newline-after */


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }











/* .container { */
	/* padding: 0px !important; */
	/* margin: 0px !important; */
	/* width: 100% !important; */
	
/* } */


.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
@media (min-width:676px){.container{max-width:660px}}
@media (min-width:868px){.container{max-width:840px}}
@media (min-width:1092px){.container{max-width:1060px}}
@media (min-width:1300px){.container{max-width:1240px}}
.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}

.blog-header {
  line-height: 0.5;
  border-bottom: 1px solid #e5e5e5;
}

.navbar-brand {
    /*display: inline-block;*/
    padding-top: 0rem;
    padding-bottom: 0rem; 
    margin-right: 0rem; 
}

/*.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}*/

.row {
    margin-right: 0px;
    margin-left: 0px;
}