/*body {
  padding-bottom: 20px;
  line-height: 0.5;
}*/

.navbar {
  margin-bottom: 20px;
      /*border-bottom: 0.0625rem solid #bbcdd3;*/
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,0);
}





.fc-item__kicker::after {
    content: ':';
    margin-left: 0rem !important;
}

.fc-today {
    margin: 0.1rem 0rem;
}


*, ::after, ::before {
    /* box-sizing: border-box; */
}

.fc-item--type-interview.fc-item--pillar-news .fc-item__headline {
     color: #000; 
}
/*.fc-item--pillar-news .inline-icon {
    fill: #000;
}*/
.fc-item--pillar-news.fc-item--type-feature .fc-item__headline {
    color: #000;
}

.fc-item--type-comment.fc-item--pillar-news .inline-icon {
    fill: #c70000;
}

.fc-item--type-comment.fc-item--pillar-news .fc-item__byline {
    color: #c70000;
}

.fc-item--type-comment.fc-item--pillar-news.fc-item--type-comment .fc-item__avatar {
    background-color: #c70000;
}
/*.fc-item--type-comment.fc-item--pillar-news .fc-item__kicker {
    color: #c70000;
}*/

/*changed to pillar-news
pillar-lifestyle
pillar-opinion
pillar-arts*/


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #0084c6;
    /*color: #000;*/
    text-decoration: none;
}

.right-most-popular__kicker {
    color: #0084c6;
}


.right-most-popular--image .right-most-popular-item__img{
  width:.5rem;
  height:4.5rem;
  overflow:unset;
}
/*Guardian Egyptian Web*/


.contributions__highlight {
    background-color: #c7000040;
    padding: 0.25rem 0.125rem;
}

a[href].contributions__contribute.contributions__contribute--epic {
    margin-top: 0;
    background-color: #c7000040;
    color: #121212;
}
a[href].contributions__contribute.contributions__contribute--epic:hover {
    margin-top: 0;
    background-color: #ff7f0f7a;
    color: #121212;
}

