{% extends 'others/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

    {% block head_title %} Cookies Policy {% endblock %}
    {% block caption %} Policy {% endblock %}     
    {% block title %} Cookies Policy {% endblock %}
    {% block image %} 
        <figure itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject" data-component="image" class="media-primary media-content ()" data-media-id="" id="img-1">
            <meta itemprop="representativeOfPage" content="true">
            <a href="{{request.build_absolute_uri}}#img-1" class="article__img-container js-gallerythumbs" data-link-name="Launch Article Lightbox" data-is-ajax="">
                <div class="u-responsive-ratio" style="padding-bottom: 60.01%">
                    <picture>
                        <img class="maxed responsive-img" itemprop="contentUrl" alt="About us" src="{% static 'img/tgh_w.png' %}">
                    </picture>
                </div>
            </a>
            <input type="checkbox" id="show-caption" class="mobile-only u-h reveal-caption__checkbox">
            <label class="mobile-only reveal-caption reveal-caption--img" for="show-caption">
                <span class="inline-information inline-icon reveal-caption-icon centered-icon">
                <svg width="6" height="14" viewBox="0 0 6 14" class="reveal-caption-icon__svg centered-icon__svg inline-information__svg inline-icon__svg">
                <path d="M4.6 12l-.4 1.4c-.7.2-1.9.6-3 .6-.7 0-1.2-.2-1.2-.9 0-.2 0-.3.1-.5l2-6.7H.7l.4-1.5 4.2-.6h.2L3 12h1.6zm-.3-9.2c-.9 0-1.4-.5-1.4-1.3C2.9.5 3.7 0 4.6 0 5.4 0 6 .5 6 1.3c0 1-.8 1.5-1.7 1.5z"></path>
                </svg>
                </span>
            </label>
        </figure>
     {% endblock %}

     {% block content %}
            
          <h2>What is a cookie?</h2>
          <p>A cookie is a small file that can be placed on your device that allows us to recognise and remember you. It is sent to your browser and stored on your computer’s hard drive or tablet or mobile device. When you visit our sites, we may collect information from you automatically through cookies or similar technology.</p>

          <h2>How do we use cookies?</h2>
          <p>We use cookies in a range of ways to improve your experience on our site, including</p>

          <p>
          - Keeping you signed in<br>
          - Understanding how you use our site<br>
          - Showing you journalism that is relevant to you<br>
          - Showing you Telegraph products and services that are relevant to you<br>
          - Working with partners to serve you relevant advertising
          </p>
          <p>Ultimately, this allows us to publish the journalism that you read on our sites and apps.</p>

          <p>In the next section, we explain in more detail how we use cookies and similar technology on our sites and apps for a number of purposes.</p>

          <p>Other organisations also collect user information on our sites through cookies, tags and pixels. Tags and pixels, also known as web beacons, are similar to cookies but are collected through embedded images.</p>

          <p>Using cookies and other technology allows other organisations to help us to analyse how our site is being used, measure the number of visitors to the site, and display advertising.</p>

          <p>Cookies that are used by the Telegraph are referred to as “first-party cookies” and those that are used by our partners are “third-party cookies”. Because of how cookies work, our website cannot access third-party cookies; nor can other organisations access the data in the cookies we use on our website. There are more details about both in the following sections.</p>

          <h2>What types of cookies do we use ?</h2>
          <p>We use four types of cookies, which we describe in this section.</p>

          <p><i><b>Essential</b></i> – cookies that are essential to provide you with services you have requested. For example, these include the cookies that make it possible for you to stay logged into your Telegraph account and make comments. If you set your browser to block these cookies, then these functions and services will not work for you. In particular, we won’t be able to save your preferences about cookies.</p>
          <p><i><b>Performance</b></i> - cookies which measure how often you visit our sites and how you use them. We use this information to get a better sense of how our users engage with our journalism and to improve our sites and apps, so that users have a better experience. For example, we collect information about which of our pages are most frequently visited, and by which types of users. We also use third-party cookies to help with performance. For example, the Google Analytics cookie gives us information such as your journey between pages and whether you have downloaded anything (details of how to opt out of it are below).</p>
          <p><i><b>Functionality </b></i>– cookies that are used to recognise you and remember your preferences or settings when you return to our site, so that we can provide you with a more personalised experience. For example, if you are based in the Nigeria, we will remember this and make sure that you receive the Nigeria homepage when you visit our site, rather than the US or Australia homepage. A mix of first-party and third-party cookies are used.</p>
          <p><i><b>Advertising</b></i> – cookies that are used to collect information about your visit to our site, the content you have viewed, the links you have followed and information about your browser, device and your IP address. We have set out more details on this below.</p>

          <h2>How do we use cookies for advertising?</h2>
          <p>Cookies are a key part of how we deliver advertising on our sites. Among other uses, they allow us to show more relevant advertising to people who visit telegraph.ng by showing you adverts that are based on your browsing patterns and the way you have interacted with our sites and apps. We can then show you adverts which we believe may interest you.</p>

          <p>From the very first edition of the Telegraph, our journalism has been funded in part by advertising. Our editorial content is not influenced by the advertising we display and our journalists are free to, and often do, challenge the activities of companies and organisations that advertise and sponsor content that appears in Telegraph sites and publications.</p>

          <p>As you browse our site, some of the cookies and similar technology we place on your device are for advertising, so we can understand what sorts of pages you read and are interested in. We can then display advertising on your browser based on these interests. For instance, if you have been reading a lot of real estate articles, you may be shown more adverts for real estate.</p>

          <p>The advertising techniques we use do not collect information such as your name, email address, postal address or phone number. We sometimes use information such as your IP address and browser type and also sometimes share some limited aspects of this with third parties for advertising purposes.</p>

          <p>There are times when we want to reach Telegraph readers who use social media to market our own products and services such as our live events, Telegraph Soulmates and Telegraph Jobs. We use cookies to help with this.</p>

          <p>For example, we place a pixel on our web pages that allows Facebook to place cookies on web browsers. When a Telegraph reader who uses Facebook returns to Facebook, Facebook can identify them as part of a group of Telegraph readers and on behalf of the Telegraph they can serve them with marketing messages from us. The data that can be obtained from a visit to the Telegraph is limited to the URL of the pages that have been visited and, in some cases, the status of any unfinished or completed commercial transactions undertaken with us, together with the limited information a browser might pass on, such as its IP address. If you are a Facebook user you can opt out by following the link below.</p>

          <p>We may also share online data collected through cookies and similar technology with our advertising partners. This means that when you are on another website, you may be shown advertising based on your browsing patterns on telegraph.ng. We may also show you advertising on telegraph.ng website based on your browsing patterns on other sites that we have obtained from our advertising partners.</p>

          <p>Online retargeting is another form of online advertising that allows us and some of our advertising partners to show you advertising based on your browsing patterns and interactions with other sites. The use of cookies may mean that when you are on another site, you may be shown advertising based on what you have looked at on <a href="/" class="u-underline">telegraph.ng</a> .</p>

          <p>For example, if you have visited the website of an online clothes shop, you may start seeing adverts from that same shopping site displaying special offers or showing you the products you were browsing. This allows companies to advertise to you if you leave their website without making a purchase.</p>

          <p>The Telegraph app integrates third-party software that provides us with information about how the app is used and what content you have viewed for the purposes of online advertising and analytics, in a similar way to the sites. It uses cookies from some of the providers listed here, among others.</p>

          <p>Increasingly, our readers fund us directly – either by buying a newspaper, or taking out a print or digital subscription or through making one-off, regular or monthly contributions. But to grow that number of supporters we are reliant on marketing, and we still rely in part on advertising to fund our journalism.</p>

          <p>To find out more, read <a class="u-underline" href="https://www.google.com/policies/privacy/partners/" target="_blank">How Google uses information from sites or apps that use our services</a>.

          <h2>Useful links</h2>
          <p>If you would like to find out more about privacy, cookies and their use on the internet, you may find the following links useful:</p>

          <p>
          - <a class="u-underline" href="https://windows.microsoft.com/en-US/internet-explorer/delete-manage-cookies#ie=ie-10" target="_blank">Microsoft cookies guide</a><br>
          - <a class="u-underline" href="http://www.allaboutcookies.org/" target="_blank">All About Cookies</a>
          </p>

          <p>If you would like to contact us about cookies please email <a href="mailto:contact@telegraph.ng" data-link-name="in body link" class="u-underline">contact@telegraph.ng</a></p>
                            
  {% endblock content %}


