{% extends 'others/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

    {% block head_title %} Terms and Condition {% endblock %}
    {% block caption %} Terms {% endblock %}     
    {% block title %} Terms of Service {% endblock %}
    {% block image %} 
        <figure itemprop="associatedMedia image" itemscope="" itemtype="http://schema.org/ImageObject" data-component="image" class="media-primary media-content ()" data-media-id="" id="img-1">
            <meta itemprop="representativeOfPage" content="true">
            <a href="{{request.build_absolute_uri}}#img-1" class="article__img-container js-gallerythumbs" data-link-name="Launch Article Lightbox" data-is-ajax="">
                <div class="u-responsive-ratio" style="padding-bottom: 60.01%">
                    <picture>
                        <img class="maxed responsive-img" itemprop="contentUrl" alt="About us" src="{% static 'img/tgh_w.png' %}">
                    </picture>
                </div>
            </a>
            <input type="checkbox" id="show-caption" class="mobile-only u-h reveal-caption__checkbox">
            <label class="mobile-only reveal-caption reveal-caption--img" for="show-caption">
                <span class="inline-information inline-icon reveal-caption-icon centered-icon">
                <svg width="6" height="14" viewBox="0 0 6 14" class="reveal-caption-icon__svg centered-icon__svg inline-information__svg inline-icon__svg">
                <path d="M4.6 12l-.4 1.4c-.7.2-1.9.6-3 .6-.7 0-1.2-.2-1.2-.9 0-.2 0-.3.1-.5l2-6.7H.7l.4-1.5 4.2-.6h.2L3 12h1.6zm-.3-9.2c-.9 0-1.4-.5-1.4-1.3C2.9.5 3.7 0 4.6 0 5.4 0 6 .5 6 1.3c0 1-.8 1.5-1.7 1.5z"></path>
                </svg>
                </span>
            </label>
        </figure>
     {% endblock %}

     {% block content %}
            
      <p>You are invited to submit articles, post comments, sign up to receive newsletters and RSS feeds, and visit the Site. By using the Site, you expressly acknowledge and agree that any use of the Site will be in accordance with these Terms of Use.</p>

      <p>If you do not agree to be bound by these Terms of Use, you may not use the Site. The Site reserves the right to modify these Terms of Use at any time and will publish notifications of material modifications at its sole discretion. By continuing to access the Site after notice of such modifications have been published, you signify your agreement to be bound by them.</p>

      <h2>Violations</h2>
      <p>If you believe that any content on the Site violates the Terms of Use, please notify the Site by sending an email to <a href="mailto:contact@telegraph.ng" data-link-name="in body link" class="u-underline">contact@telegraph.ng</a>. The Site does not guarantee that any action will be taken as a result of your email.</p>

      <h2>Our Facts, Opinions, Analyses, or Predictions May Be Wrong</h2>
      <p>The content of the Site is offered for general information, discussion, and entertainment purposes only. Some of the content is unmoderated by the site and reflects the personal opinions of the posters. You should be skeptical about any information on the Site because the information may be offensive, harmful, and/or wrong.</p>

      <h2>Do Not Violate Posting or Commenting Rules</h2>
      <p>You are responsible for your own postings and agree to access and use the Site at your own risk on an as-is basis. Your postings should be truthful and accurate. Do not make postings that involve the following:</p>

      <h2>Securities for sale, barter, or exchange</h2>
      <ol>
        <li>Harassment, defamation, threats, stalking, bullying, or violations of the legal rights of others
        Illegal activities.</li>
        <li>Impersonation of any person or entity, or falsely states or misrepresents your affiliation with a person or entity.</li> 
        <li>Infringement of another’s intellectual property, including, but not limited to, trade secrets, trademarks and copyrights of any type</li>
        <li>Obscene, vulgar, bigoted, hateful, or racially offensive language or images
        Commercial advertising</li>
        <li>Gambling, contests, chain letters, “pyramid schemes,” or “multi-level marketing” schemes</li>
        <li>Violations of any applicable local, state, national, or international law in connection with your use of the Site. This includes securities laws and regulations.</li>
        <li>Comments personally attacking the author of a post.</li>
        <li>Furthermore, you agree that, if a third party claims that any material you have contributed to the Site is unlawful, you will bear the full burden of establishing that the material complies with all applicable laws.</li>
      </ol>

      <h2>Disclosure Policy</h2>
      <p>The Site reserves the right to disclose any information as necessary to satisfy any applicable law, regulation, legal process, or governmental request. The Site may also edit, refuse to post, or remove any posting at the Site’s sole discretion. The Site reserves the right to restrict access by any users whom the Site believes, in its sole discretion, are engaged in inappropriate, unprofessional, or unlawful conduct.</p>

      <p>The Site reserves the right to remove content which, in its sole discretion, violates any of the rules set forth herein of which it becomes aware, but is under no obligation to do so. If you are offended by any content of the Site, stop using the Site.</p>

      <h2>Disclaimer</h2>
      <p>The Site includes unmoderated information containing the personal opinions and other expressions of the persons who post entries on a wide range of topics. Such entries are the opinions of the specific authors and are not statements of advice, opinion, or information of the Site or any or any Site-affiliated person or entity.</p>

      <p>Neither the content of the Site, nor the links to other websites contained therein, are routinely moderated, screened, approved, reviewed, or endorsed by the Site or any Site-affiliated person or entity.</p>

      <p>The Site and any information, products or services therein are provided “as is” without warranty of any kind, either express or implied, including without limitation, the implied warranties of merchantability, fitness for use of a particular purpose, or noninfringement.</p>

      <p>The Site does not warrant that the Site will operate in an uninterrupted or error-free manner or that the Site is free of viruses or other harmful components. Use of information obtained from or through the Site is at your own risk.</p>

      <p>The site is not liable for any loss or damages including, but not limited to, claims for defamation, errors, loss of data, or interruption in availability of data arising out of the use or inability to use the Site or any links; to your placement of content on the Site; or to your reliance upon information obtained from or through the Site or through links contained on the Site.</p>

      <p>The Site is not an intermediary, broker/dealer, investment advisor, or exchange and does not provide services as such.</p>

      <h2>Licenses</h2>
      <p>In consideration for your agreement to these Terms of Use, the Site grants you a personal, non-exclusive, non-transferable, revocable license to access and use the Site. You may access the material on the Site only for your own personal, non-commercial use. The burden of determining that use of any information obtained from the Site is permissible rests with you.</p>

      <p>By posting to or otherwise engaging in any communication within the Site, you are granting the Site (or any of its assignees) a perpetual, royalty-free, and irrevocable right and license to use, reproduce, modify, adapt, publish, translate, distribute, transmit, publicly display, publicly perform, sublicense, create derivative works from, transfer, and sell any such information.</p>

      <h2>Copyright Policy</h2>

      <p>If you believe your copyrights are being infringed, please send us a Notice of Infringement to <a href="mailto:contact@telegraph.ng" data-link-name="in body link" class="u-underline">contact@telegraph.ng </a></p>

      <h2>Unauthorized Use</h2>

      <p>Unauthorized use of the Site in connection with the transmission of unsolicited e-mail, including the transmission of e-mail in violation of this policy, may result in civil, criminal, or administrative penalties against the sender and those assisting the sender.</p>

      <h2>Indemnification</h2>
      <p>You agree to indemnify and hold the Site and any Site-affiliated person or entity harmless from any claims, losses or damages, including legal fees, resulting from your violation of these Terms of Use, your use of the Site or your placement of any content onto the Site, and to fully cooperate in the Site’s or or any Site-affiliated person’s or entity’s defense against any such claims.</p>

      <h2>Integration</h2>
      <p>These Terms of Use constitute the entire agreement between you and the Site and any Site-affiliated persons or parties with respect to the subject matter herein and supersedes any and all prior or contemporaneous oral or written agreements.</p>

  {% endblock content %}